@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito+Sans:wght@400&display=swap');

$text-on-primary-color: #fff;
$text-on-light-color: rgb(40, 40, 40);
$primary-color-dark: #525e4f;
$primary-color-light: #b3d2ac;
$background-light: #fff;
$background-mid: #eee;
$background-dark: rgb(30, 50, 60);

@mixin mediaLg {
  @media (min-width: 512px) {
    @content;
  }
}

@mixin mediaXl {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin separator {
  content: "\25AB";
  margin: 0 0.5rem;
}


* {
  box-sizing: border-box;
}

body {  
  font-family: "Nunito Sans", sans-serif;
  background-color: black;
  line-height: 1.42857;
  overflow-x: hidden;
}

header, main, footer {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 600px;
}

// next element needs position:relative to stack on top of overlay !!!

.overlay {
  background-color: hsla(0,0%,100%,.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hero-container {
  position: relative;    

  // background image standalone element - for filter application
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    // white overlay effect
    background: linear-gradient(
      hsla(0,0%,100%,.2),
      hsla(0,0%,100%,.2)),
      url(https://www.zamecnictvi-sojka.cz/public/gallery/P6140009.jpg)
    ;

    // blur effect
    //filter: blur(1px);

    background-size: cover;
    background-position: center center;
  }

  .hero-inside {  
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 7rem .8rem;
    color: $text-on-primary-color;
  }

  .hero-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-direction: column-reverse;

    margin: 0;        
    font-size: 6.9rem;
    letter-spacing: 0.1rem;
    //text-shadow: 2px 2px 5px hsla(0,0%,0%,.2);
          
    font-family: 'Abril Fatface', cursive;

    user-select: none;
    
    @include mediaLg {
      font-size: 9rem;
      margin-bottom: 0.3rem; 
    }
  }

  .hero-desc {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 3.5rem;
        
    @include mediaLg {      
      margin-bottom: 1rem;
      flex-direction: row;             
    }

    .row {
      display:flex;

      @include mediaLg {      
        display: flex;             
      }
      
      h2 {
        display: block;
        margin:0;    
        text-align: center;    
        font-size: 1rem;
        letter-spacing: 0.03rem;
        word-spacing: 0.2rem;
        text-transform: uppercase;
        font-weight: 100;      
        color: $text-on-primary-color;
        user-select: none;

        @include mediaLg {
          word-spacing: 0.5rem;       
        }      

        &::before {        
          @include separator;                       
        }
        
        &:last-child {
          &::after {
            @include separator;

            @include mediaLg {      
              content: "";
              margin:0;             
            }          
          }        
        }      
      }

      &:last-child {
        h2:last-child{
          &::after {
            @include separator;                      
          }        
        }
      }
    }
  }

  .hero-button {
    display: inline-block;
    padding: 0.7rem 1.4rem;
    margin-bottom: 0.2rem;
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
    font-weight: 800;
    border: 1px solid $text-on-primary-color;
    border-radius: 0.3rem;
    transition: all 0.5s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: transparentize($text-on-primary-color,0.9);

    &:hover {      
      background-color: transparentize($primary-color-dark,0.5);
    }
  }

  .hero-phone {
    font-size: 0.8rem;
  }
    
}

.section-container {
  &.padding,.padding {
    padding: 7rem 2rem;
    
    @include mediaLg{
      padding: 7rem 3rem;
    }

  }

  &.bg-light {
    background-color:$background-light;
    color: $text-on-light-color;
  }

  &.bg-mid {
    background-color:$background-mid;
    color: $text-on-light-color;    
  }

  .section-content {
    @include mediaLg{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    @include mediaXl{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &>h1, .section-heading {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    text-align: center;
    line-height: 1em;
    margin: 0;

    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: $primary-color-light;
      margin: 2rem auto;
    }

    &.heading-left {
      text-align: left;
      &::after {
        margin-left:0;
      }

    }
  }

  .sub-section {
    padding: 1rem 0rem;
    max-width: 30rem;

    @include mediaLg {
      margin: 0 4rem;
    }
    
    &>h1 {
      font-family: 'Abril Fatface', cursive;
      font-size: 2rem;
      text-align: center;
      line-height: 1em;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: square;
      padding-left: 1rem;
      color: $primary-color-dark;
    }
  }

  p {
    color: $primary-color-dark;
  }
}

footer {
  padding: 4rem 2rem;
  background-color: $background-dark;
  color: $text-on-primary-color;

  @include mediaLg{
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;    
  }

  address {
    font-style: normal;
    margin-bottom: 1rem;    
  }

  .contacts {
    @include mediaLg{
      margin-right: 7rem;
    }
  }

  span {
    display: block;
  }

  a {
    display: block;
    text-decoration: none;
    color: $text-on-primary-color;
  }
}

.two-cols {
  @include mediaXl{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.left-side {
  display: none;
  background-image: url(https://www.zamecnictvi-sojka.cz/public/gallery/P6140032.jpg);
  background-size: cover;
  @include mediaLg{
    display: block;    
  }

}
