@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito+Sans:wght@400&display=swap');

$text-on-primary-color: #fff;
$primary-color: #525e4f;

@mixin mediaLg {
  @media (min-width: 512px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {  
  font-family: "Nunito Sans", sans-serif;
  background-color: black;
  line-height: 1.42857;
  overflow-x: hidden;
}

header, main, footer {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 600px;
}

// next element needs position:relative to stack on top of overlay !!!

.overlay {
  background-color: hsla(0,0%,100%,.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hero-container {
  position: relative;    

  // background image standalone element - for filter application
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    // white overlay effect
    background: linear-gradient(
      hsla(0,0%,60%,.5),
      hsla(0,0%,60%,.5)),
      url(https://www.zamecnictvi-sojka.cz/public/gallery/P6140009.jpg)
    ;

    // blur effect
    filter: blur(2.5px);

    background-size: cover;
    background-position: center center;
  }

  .hero-inside {  
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 7rem .8rem;
    color: $text-on-primary-color;
  }

  .hero-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-direction: column-reverse;

    margin: 0;        
    font-size: 6.5rem;
    letter-spacing: 0.1rem;
    //text-shadow: 2px 2px 5px hsla(0,0%,0%,.2);
          
    font-family: 'Abril Fatface', cursive;
    
    @include mediaLg {
      font-size: 9rem;
      margin-bottom: 0.3rem; 
    }
  }

  .hero-desc {
    margin-top:0;    
    text-align: center;    
    font-size: 1rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 3.5rem;
    color: $text-on-primary-color;

    @include mediaLg {      
      margin-bottom: 1rem;
      word-spacing: 0.5rem;       
    }

    span:nth-child(2) {
      &::after {
        content: " \25AB\ \A";
        white-space: pre;

        @include mediaLg {
          content: "";
          white-space: normal;
        }
      }
    }

    span:last-child {
      &::after {
        content: " \25AB";        
      }
    }

    span {
      &::before {
        content: " \25AB\ ";
      }      
    }
  }

  .hero-button {
    display: inline-block;
    padding: 0.7rem 1.4rem;
    margin-bottom: 0.2rem;
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
    font-weight: 800;
    border: 1px solid $text-on-primary-color;
    border-radius: 0.3rem;
    transition: all 0.5s;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: transparentize($text-on-primary-color,0.9);

    &:hover {      
      background-color: transparentize($primary-color,0.5);
    }
  }

  .hero-phone {
    font-size: 0.8rem;
  }
    
}


